<h1>Home#index</h1>

<div class="row">
    <% @tweets.each do |tweet| %>
        <div class="col-12 border border-info p-3 mt-2 my-2">
            <%= image_tag (tweet.user.photo_url), :class => "avatar_in_tweet rounded" %>
            <%= tweet.content %>
            <br>
            <div class=" float-right">
                <%= tweet.likes.count %> likes | 0 re-tweets
            </div>

        </div >

    <% end %>

    <%= paginate @tweets %>
    <%#= link_to_next_page @tweets, "Mostrar más"%>
</div >
